{% extends 'base.html.twig' %}

{% block title %}nouveau Usercateg{% endblock %}

{% block body %}
    <h1>Créer un nouveau Usercateg</h1>

    {{ include('usercateg/_form.html.twig') }}

    <a href="{{ path('usercateg_index') }}">back to list</a>
{% endblock %}
